Package: platform-modules-haliburton
Source: sonic-cel-platform-modules
Version: 0.1
Architecture: amd64
Maintainer: Supakit Fuangkaew <sfuangk@celestica.com>
Installed-Size: 471
Depends: linux-image-3.16.0-5-amd64
Section: main
Priority: extra
Description: kernel modules for platform devices such as fan, led, sfp
