[Unit]
Description=Timer for add warning message from BMC to SONiC syslog

[Timer]
OnUnitActiveSec=5min
OnBootSec=0min

[Install]
WantedBy=multi-user.target
